<!DOCTYPE html>
<html>
<head>
  <title>Video List</title>
  {% load static %}
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
  <h1>Video List</h1>
  <ul>
    {% for video in videos %}
      <li>
        <strong>{{ video.title }}</strong><br>
        {% if video.output_file %}
            <video width="320" controls>
                <source src="{{ video.output_file.url }}" type="video/mp4">
            </video>
        {% else %}
            <em>Processing...</em>
        {% endif %}
      </li>
    {% empty %}
      <li>No videos found.</li>
    {% endfor %}
  </ul>
  <a href="/">Upload Another</a>
</body>
</html>
